@import "fonts";

body {
  font-family: 'Poppins';
  background-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Poppins';
  line-height: 1.1em;
  letter-spacing: 0;
}

.h1 {
  font-size: prem(70);
  font-weight: 800;
}

.h2 {
  font-size: prem(60);
  font-weight: 800;
}

.h3 {
  font-size: prem(48);
  font-weight: 600;
}

.h4 {
  font-size: prem(40);
  font-weight: 800;
}

.h5 {
  font-size: prem(38);
  font-weight: 600; 
}

