@import "fonts";
body {
  font-family: 'Poppins' ;
}

h1 {
  font-family: 'Manrope';   
  font-weight:400;
}

h2 {
  font-family: 'Open Sans';   
  font-weight: 600;
}

h3 {
  font-family: "Poppins";   
  font-weight:400;
}

h4 {
  font-family: 'Times New Roman';   
  font-weight:700;
}